<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="BMwTJBNdiRr9x0t9TnyadI5GuxmVnoTjhBtdrMDF+dN3kJXf/k+mK9wjJrByvTWJCYLbvL6SAuCFwKDS0wuIdQ==" />
    <link rel="stylesheet" media="all" href="/assets/application-945628f9f95377705c9108ec9a9704e6f6ffa0767c02e34400d75b5be64fc1b7.css" data-turbolinks-track="reload" />
    <script src="/assets/application-11e027fe501efa6924bd87aa8f6ef7436fd1539022b412029c4a223dec9664f8.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <div class='body'>
      <div class='container'>
        <%= flash[:success] %>
      	<div class='row'>
            <div class='col-xs-3'>
                <h2>User info</h2>
                    <div class='row'>
                    <%= attachment_image_tag @book.id, :profile_image,format: 'jpeg',size: "100x100",fallback: "no_image.jpg" %></td>
                <h4>name</h4>
                <%= current_user.name %>
                <h4>introduction</h4>
                <%= current_user.introduction %>
                    </div>

                    <h2>New book</h2>
                    <%= form_for(@book) do |f| %>
                        <h4>Title</h4>
                        <%= f.text_field :title %>
                        <h4>Opinion</h4>
                        <%= f.text_area :body %><br />
                        <%= f.submit 'Create Book' %>
                    <% end %>
                    </div>

                    <div class='col-xs-9'>
                    <% @books.each do |book| %>
                        <%= attachment_image_tag @books.id, :profile_image,format: 'jpeg',size: "100x100",fallback: "no_image.jpg" %></td>
                        <p><%=link_to book.title, "/books/#{book.id}" %>
                        <span><%= book.body %></span></p>
                     <% end %>
                    </div>
                </div>
            </div>
        </div>

    <footer>
        <div class='container'>
  	        <div class='row'>
    	        <div class='col-xs-3 col-xs-offset-9'>
    		        <p>CopyRight Infratop.inc</p>
    	        </div>
            </div>
        </div>
    </footer>
  </body>
</html>
